/*폰트*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/*@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');*/

/*
@font-face {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
} 
*/

html {
	height:100%;
}

body {
	width:100%;
	height: 100%;
	margin:0;
	padding:0;
}

div, p {
    padding:0;
    margin:0;
}

.c_area {
    width:940px; 
    margin:0 auto;
}

@keyframes fadeIn{
	from{
		opacity:0;
		transform:translateY(20px);
	}
	to {
		opacity:1;
		transform:none;
	}
}

.op_0 {opacity:0.0;}

.up0{transform:translateY(30px); opacity:0;transition:all 1s; transition-delay:0.1s}
.up0.active{transform:translateY(0px); opacity:1;}

.up1{transform:translateY(30px); opacity:0;transition:all 1s; transition-delay:0.3s}
.up1.active{transform:translateY(0px); opacity:1;}

.up2{transform:translateY(30px); opacity:0;transition:all 1s; transition-delay:0.5s}
.up2.active{transform:translateY(0px); opacity:1;}

.up3{transform:translateY(30px); opacity:0;transition:all 1s; transition-delay:0.7s}
.up3.active{transform:translateY(0px); opacity:1;}

.up4{transform:translateY(30px); opacity:0;transition:all 1s; transition-delay:0.9s}
.up4.active{transform:translateY(0px); opacity:1;}

.up5{transform:translateY(30px); opacity:0;transition:all 1s; transition-delay:1.1s}
.up5.active{transform:translateY(0px); opacity:1;}

#main {
    width:100%;
    height: 100%; 
    min-height:800px;
    background-color:#ffc58a;
}

#main .img {
    z-index:1000000;
    position:absolute;
    width:940px;
    top:15%;
    text-align:right;
}

#main .img .ani{
	float:right;
	width:600px;
	height:590px;
	margin: 2% auto;
	background:url('https://user-images.githubusercontent.com/79674569/282300394-b798b74e-d4b7-41e0-897c-c7dfe40d7396.png')left bottom no-repeat;
	background-size:6002px 590px;
	animation: play2 1.4s steps(10) infinite;
}

@keyframes play2 {
  100% { background-position: -6002px; }
}

#main .img img {
    width:600px;
}

#main .text {
    z-index:1;
    position:absolute;
    width:950px;
    top:18%;
    color:#fff;
    font-family: 'GmarketSans';
}

#main .text h3 {
	font-size:82px;
	line-height:92px;
	font-weight:normal;
	padding:0;
	margin:0;
}

#main .text h3 p {
    font-weight:300 !important;
}

#main .text h3 b {
    font-weight:700;
    display:block;
}

#main .text h2 {
    font-size:15px;
    line-height:25px;
    letter-spacing:5px;
     padding:60px 0 0 0;
	margin:0;
}

#main .text h2 p {
    font-weight:300 !important;
}

#main .text h2 b {
    font-weight:700;
    display:block;
}


#story {
	width:100%;
	height:100%;
	min-height:800px;
	background:#f5f2e9 url('https://user-images.githubusercontent.com/79674569/282286353-293d8452-b893-466f-bdd4-f928f4af3800.jpg')right 200px top no-repeat;
	background-size:450px 426px;
	background-attachment: fixed;
	display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

#story .text {width:950px; margin:0 auto;}

#story .text h4 {
	font-family: 'GmarketSans';
	font-weight:300;
	color:#46443f;
	font-size:80px;
	line-height:90px;
	padding:0 0 50px 0;
	margin:0;
}
#story .text h4 b {
	color:#ffb400;
	font-weight:700;
}
#story .text p {
	font-family: 'Noto Sans KR', sans-serif;
	font-size:15px;
	color:rgba(0,0,0,.5);
	line-height:27px;
	word-break: keep-all;
}


#profile {
	width:100%;
	height:100%;
	min-height:800px;
	border-top:1px solid rgba(0,0,0,.1);
	background:#f5f2e9 url('https://user-images.githubusercontent.com/79674569/282289274-8c96f150-f27e-4a76-958f-59d8cf29b893.jpg')right 200px top no-repeat;
	background-size:706px 800px;
	background-attachment: fixed;
	display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

#profile .text{
	width:100%;
	overflow:hidden;
}

#profile .text h4 {
	font-family: 'GmarketSans', 'Noto Sans KR', sans-serif;
	font-weight:300;
	color:#46443f;
	font-size:30px;
	line-height:40px;
	padding:0 0 50px 0;
	margin:0;
}

#profile .text h4 b{
	font-weight:500;
	font-size:60px;
	display:block;
	line-height:70px;
	padding-bottom:10px;
}

#profile .text h3 {
	width:100%;
	display:block;
	overflow:hidden;
	padding-bottom:10px;
	font-size:15px;
	line-height:27px;
	font-family: 'Noto Sans KR', sans-serif;
}

#profile .text h3 p {
	float:left; 
	width:70px;
	font-weight:500;
}

#profile .text h3 ul {
	float:left;
	width: calc( 100% - 70px ); 
	list-style:none;
	padding:0;
	margin:0;
}

#profile .text h3 ul li{
	list-style:none;
	font-weight:300;
	padding:0;
	margin:0;
}

#profile .ani {
	position:absolute;
	overflow:hidden;
	left:50%;
	margin-left:-500px;
	width:500px;
	height:743px;
	margin: 2% auto;
	background:url('https://user-images.githubusercontent.com/79674569/282292508-a98db6d8-285d-4d10-bdd5-f9dfb06445d3.png')left bottom no-repeat;
	background-size:3000px 743px;
	animation: play .9s steps(6) infinite;
}

@keyframes play {
  100% { background-position: -3000px; }
}

#skill {
	width:100%;
	height:100%;
	min-height:800px;
	background:url('https://user-images.githubusercontent.com/79674569/282301540-f1d7d0f7-6d70-494f-a0d7-8e1655623321.jpg')center no-repeat;
	background-size:cover;
	background-attachment: fixed;
	display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

#skill .title {
	width:100%;
	overflow:hidden;
	font-family: 'GmarketSans';
}

#skill .title h2{
	float:left;
	color:#e38d4e;
	font-size:80px;
	line-height:90px;
	font-weight:300;
}

#skill .title h2 b {
	font-weight:700;
	display:block;
}

#skill .title ul{
	list-style:none;
	float:right;
	padding-top:30px;
}
#skill .title li {
	font-size:15px;
	line-height:27px;
	color:#58412b;
	font-weight:300;
	height:30px;
	display:block;
	background:url('https://user-images.githubusercontent.com/79674569/282318210-c4c4bee5-06b8-488a-93da-6b240c314266.png')left center no-repeat;
	background-size:37px 4px;
	padding-left:50px;
}

#skill .title li:nth-child(5) {
	background:url('https://user-images.githubusercontent.com/79674569/282318210-c4c4bee5-06b8-488a-93da-6b240c31426611.png')left center no-repeat !important;
}

#skill .title li b {
	font-weight:700;
}

.charts{
	width:100%;
	margin:30px auto;
	display:flex;
	justify-content:center;
}

.charts .chart{
	margin:0 20px;
	padding:0;
	position:relative;
}
.charts .chart h2{
	position:absolute;
	left:45%;
	top:-28px;
	tranform:translate(-50%,-50%);
	padding:0;
	margin:0 0 0 -10px;
	color:#fff;
	font-size:20px;
	font-family: 'GmarketSans';
}

.charts .chart h1{
	position:absolute;
	left:30%;
	top:60px;
	tranform:translate(-50%,-50%);
	padding:0 !important;
	margin:0 !important;
	width:95px;
	height:95px;
}

.charts .chart:nth-child(1) h1{
	background:url('https://user-images.githubusercontent.com/79674569/282316251-8b31d7b0-7f2d-4d9e-b764-f47da23e1585.png')center no-repeat;
	background-size:95px 95px;
}

.charts .chart:nth-child(2) h1{
	background:url('https://user-images.githubusercontent.com/79674569/282316252-78f27736-7836-4627-89bb-2040d98702cf.png')center no-repeat;
	background-size:95px 95px;
}

.charts .chart:nth-child(3) h1{
	background:url('https://user-images.githubusercontent.com/79674569/282316253-0fe87e26-d94a-4bd1-9817-a2e82dd14c79.png')center no-repeat;
	background-size:95px 95px;
}

.charts .chart:nth-child(4) h1{
	background:url('https://user-images.githubusercontent.com/79674569/282316254-1fffb7dd-31a0-4a4a-a0c4-f81327598d20.png')center no-repeat;
	background-size:95px 95px;
}

.charts .chart svg{
	width:220px;
	height:220px;
}

circle {
	fill:#fff;
	stroke-width:10;
	stroke-dasharray:628;
	stroke-dashoffset:628;
	/*animation:line 2s forwards;*/
	transform:rotate(-90deg);
	transform-origin:50% 50%;
	stroke-linecap:round;
}

/*@keyframes line{
	from{stroke-dashoffset:628;}
	to{stroke-dashoffset:0;}
}*/

.charts .chart:nth-child(1) circle{
	stroke:#ffca3b;
}

.charts .chart:nth-child(2) circle{
	stroke:#ffca3b;
}

.charts .chart:nth-child(3) circle{
	stroke:#ffca3b;
}

.charts .chart:nth-child(4) circle{
	stroke:#ffca3b;
}

.charts .chart h3{
	position:absolute;
	top:230px;
	padding:0 !important;
	margin:0 !important;
	font-size:15px;
	line-height:22px;
	font-family: 'GmarketSans';
	color:#58412b;
	font-weight:300;
	text-align:center;
	width:220px;
}

.charts .chart h3 b{
	font-weight:700;
	display:block;
}

#portfolio {
	width:100%;
	height:100%;
	min-height:800px;
	background:url('https://user-images.githubusercontent.com/79674569/282318881-1a0f4d64-c00b-46e4-bff8-6292cf7fd99c.jpg')center no-repeat;
	background-size:cover;
	background-attachment: fixed;
	display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

#portfolio .port_list{
	width:100%; 
	overflow:hidden;
	padding:30px 0;
	margin-top:30px;
}

#portfolio .port_list .text{
	float:left;
	width: calc( 100% - 500px );
	text-align:left;
	font-family: 'GmarketSans';
	color:#fff;
	
}

#portfolio .port_list .text h2{
	position:absolute;
	z-index:111111111;
	font-size:80px;
	font-weight:700;
	padding:0 30px 30px 0;
	margin:0;
	overflow:hidden;
	text-shadow:20px 20px 20px rgba(0,0,0,.1);
}

#portfolio .port_list .text h3{
	font-size:25px;
	line-height:35px;
	font-weight:300;
	padding:150px 0 60px 0;
	margin:0;
}

#portfolio .port_list .text p{
	font-weight:300;
	font-size:15px;
	line-height:28px;
	font-family: 'Noto Sans KR', sans-serif;
	word-break: keep-all;
	letter-spacing:-1px;
	opacity:0.7;
	padding-right:50px;
}

#portfolio .port_list .img{
	float:left;
	width:500px;
	overflow:hidden;
	padding-top:30px;
	margin-top:30px;
}

#portfolio .port_list .img .pc{
	width:100%;
	height:273px;
	background-color:#fff;
	border-radius:25px;
}

#portfolio .port_list .img .mo{
	position:absolute;
	z-index:111111;
	width:180px;
	height:316px;
	background-color:#ccc;
	border-radius:35px;
	box-shadow:20px 20px 20px rgba(0,0,0,.1);
	margin:-230px 0 0 270px;
}

#portfolio .port_info{
	width:100%;
	overflow:hidden;
	color:#fff;
	padding-top:50px;
}

#portfolio .port_info .scale{
	float:left;
	overflow:hidden;
}

#portfolio .port_info .scale ul{
	list-style:none;
	display: flex;
        justify-content: start;
}

#portfolio .port_info .scale li{
	list-style:none;
	width:120px;
	overflow:hidden;
}

#portfolio .port_info .scale .round{
	width:120px; 
	height:100px;
	background:url('https://user-images.githubusercontent.com/79674569/282358709-ba8e6571-9c58-4aba-85f1-25fff4cba5f3.png')center top no-repeat;
	background-size:100px 100px;
}

#portfolio .port_info .scale .round p {
	width:120px;
	height:100px;
	background:url('https://user-images.githubusercontent.com/79674569/282358715-bd3b2235-d281-4d12-972e-7d47811fc437.png')center top no-repeat;
	background-size:100px 100px;
	text-align:100%;
	line-height:100px;
	color:#ffdf2e;
	font-family: 'GmarketSans';
	font-size:17px;
	font-weight:500;
}

#portfolio .port_info .scale .round p span{
	color:#fff;
	font-weight:300;
	font-size:11px;
}

#portfolio .port_info .scale .round .on_100 {
	background:url('https://user-images.githubusercontent.com/79674569/282358715-bd3b2235-d281-4d12-972e-7d47811fc437.png')center top no-repeat;
	background-size:100px 100px;
}

#portfolio .port_info .scale .round .on_50 {
	background:url('https://user-images.githubusercontent.com/79674569/282358712-e624a28a-8c68-4696-ac8e-ff00fb6d6657.png')center top no-repeat;
	background-size:100px 100px;
}

#portfolio .port_info .scale h4{
	width:100%;
	padding:5px 0 0 0;
	text-align:Center;
	color:#fff;
	font-family: 'GmarketSans';
	font-size:13px;
	font-weight:300;
}

#portfolio .port_info .info{
	float:right;
	text-align:right;
	font-family: 'GmarketSans';
	font-size:15px;
	font-weight:300;
	padding-top:50px;
}

#portfolio .port_info .info span{
	margin-left:25px;
}

.pp_01{background:url('https://user-images.githubusercontent.com/79674569/282347198-195a19df-fab5-4d45-8b97-0cd7b578c834.jpg')center no-repeat; background-size:cover;}
.pm_01{background:url('https://user-images.githubusercontent.com/79674569/282347197-1332e344-b0e5-4605-bb22-75c26a9afb2c.jpg')center no-repeat; background-size:cover;}

.swiper {
      width: 100%;
      height: 100%;
	
      display: flex;
      align-items: center;
      justify-content: center;
}

.swiper-slide {
      text-align: center;
      font-size: 18px;
      color: #fff;
}

.swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
}

.swiper-pagination {
	opacity:0;
}

.swiper-button-prev{
	color: #fff !important;
	left:100px !important;
}
.swiper-button-next {
	color: #fff !important;
	right:100px !important;
}

.swiper-slide-active h2 {
   transform:translateY(-15px); opacity:1; transition:all 1s; transition-delay:0.1s;
}

.swiper-slide-active h3 {
   transform:translateY(-15px); opacity:1; transition:all 1s; transition-delay:0.3s;
}

.swiper-slide-active .info_text {
   transform:translateY(-15px); opacity:1; transition:all 1s; transition-delay:0.5s;
}

.swiper-slide-active .pc {
   transform:translateY(-15px); opacity:1; transition:all 1s; transition-delay:0.5s;
}

.swiper-slide-active .mo {
   transform:translateY(-15px); opacity:1; transition:all 1s; transition-delay:0.7s;
}


