/*폰트*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/*@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');*/

/*
@font-face {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
} 
*/

html {
	height:100%;
}

body {
	width:100%;
	height: 100%;
	margin:0;
	padding:0;
}

div, p {
    padding:0;
    margin:0;
}

.c_area {
    width:950px; 
    margin:0 auto;
}

@keyframes fadeIn{
	from{
		opacity:0;
		transform:translateY(20px);
	}
	to {
		opacity:1;
		transform:none;
	}
}

.op_0 {opacity:0.0;}

#main {
    width:100%;
    height: 100%; 
    min-height:800px;
    background-color:#ffc58a;
}

#main .img {
    z-index:1000000;
    position:absolute;
    width:950px;
    top:15%;
    text-align:right;
}

#main .img img {
    width:600px;
}

#main .text {
    z-index:1;
    position:absolute;
    width:950px;
    top:18%;
    color:#fff;
    font-family: 'GmarketSans';
}

#main .text h3 {
	font-size:82px;
	line-height:92px;
	font-weight:normal;
	padding:0;
	margin:0;
}

#main .text h3 p {
    font-weight:300 !important;
}

#main .text h3 b {
    font-weight:700;
    display:block;
}

#main .text h2 {
    font-size:15px;
    line-height:25px;
    letter-spacing:5px;
     padding:60px 0 0 0;
	margin:0;
}

#main .text h2 p {
    font-weight:300 !important;
}

#main .text h2 b {
    font-weight:700;
    display:block;
}

#story {
	width:100%;
	height:100%;
	min-height:800px;
	background:#f5f2e9 url('https://user-images.githubusercontent.com/79674569/282286353-293d8452-b893-466f-bdd4-f928f4af3800.jpg')right 200px top no-repeat;
	background-size:450px 426px;
	background-attachment: fixed;
	display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
#story .c_area {
}

#story .text {width:950px; margin:0 auto;}
#story .text h4 {
	font-family: 'GmarketSans';
	font-weight:300;
	color:#46443f;
	font-size:80px;
	line-height:90px;
	padding:0 0 50px 0;
	margin:0;
}
#story .text h4 b {
	color:#ffb400;
	font-weight:700;
}
#story .text p {
	font-family: 'Noto Sans KR', sans-serif;
	font-size:15px;
	color:rgba(0,0,0,.5);
	line-height:27px;
	word-break: keep-all;
}

#profile {
	width:100%;
	height:100%;
	min-height:800px;
	background:#f5f2e9 url('https://user-images.githubusercontent.com/79674569/282289274-8c96f150-f27e-4a76-958f-59d8cf29b893.jpg')right 200px top no-repeat;
	background-size:706px 800px;
	background-attachment: fixed;
	display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

#profile .text{
	float:left;
	overflow:hidden;
}

#profile .text h4 {
	font-family: 'GmarketSans', 'Noto Sans KR', sans-serif;
	font-weight:300;
	color:#46443f;
	font-size:30px;
	line-height:40px;
	padding:0 0 50px 0;
	margin:0;
}

#profile .text h4 b{
	font-weight:500;
	font-size:60px;
	display:block;
	line-height:70px;
	padding-bottom:10px;
}

#profile .text h3 {
	width:100%;
	display:block;
	overflow:hidden;
	padding-bottom:10px;
	font-size:15px;
	line-height:27px;
	font-family: 'Noto Sans KR', sans-serif;
}

#profile .text h3 p {
	float:left; 
	width:70px;
	font-weight:500;
}

#profile .text h3 ul {
	float:left;
	width: calc( 100% - 70px ); 
	list-style:none;
	padding:0;
	margin:0;
}

#profile .text h3 ul li{
	list-style:none;
	font-weight:300;
	padding:0;
	margin:0;
}

#profile .ani {
	position:absolute;
	overflow:hidden;
	
	width:500px;
	height:743px;
	margin: 2% auto;
	background:url('https://user-images.githubusercontent.com/79674569/282289112-1a714e4f-3946-43d1-9191-eb3d91ec3c6a.png')left bottom no-repeat;
	background-size:3000px 743px;
	animation: play .9s steps(6) infinite;
}

@keyframes play {
  100% { background-position: -3000px; }
}
