<!--폰트-->
@font-face {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
} 

body {
  width:100%;
  margin:0;
  padding:0;
}

div, p {
    padding:0;
    margin:0;
}

.c_area {
    width:1000px; 
    margin:0 auto;
}

#main {
    width:100%;
    height:900px;
    
    background-color:#ffc58a;
}

#main .img {
    z-index:10;
    positon:absolute;
    width:1000px;
    top:100px;
    text-align:right;
}

#main .img img {
    width:700px;
}

#main .text {
    width:1000px;
    position:absolute;
    top:100px;
    z-index:1;
    color:#fff;
    font-family: 'GmarketSans';
}

#main .text h3 {
    font-size:80px;
    line-height:90px;
    font-weight:normal;
}

#main .text h3 p {
    font-weight:300 !important;
}

#main .text h3 b {
    font-weight:700;
    display:block;
}

#main .text h2 {
    font-size:15px;
    line-height:25px;
    letter-spacing:5px;
}

#main .text h2 p {
    font-weight:300 !important;
}

#main .text h2 b {
    font-weight:700;
    display:block;
}
